# Insertion Sort

In [59]:
test = [6,5,4,3,2,1]

def selection_sort(arr1):
    '''put in list, return list sorted numerically'''
    print(arr1)
    if len(arr1) == 0 or len(arr1) == 1:
        return arr1
    else:
#         future versions, define your own min TO PROVE YOU CAN. for loop, low_score, etc.
#         arr1.insert(0, arr1.pop(arr1.index(min(arr1))))
        
#         arr1 = [arr1[0]] + selection_sort(arr1[1:])
        smallest = arr1.pop(arr1.index(min(arr1)))
        recursive_solution = selection_sort(arr1)
        return [smallest] + recursive_solution
        
test = selection_sort(test)
print(test)

[6, 5, 4, 3, 2, 1]
[6, 5, 4, 3, 2]
[6, 5, 4, 3]
[6, 5, 4]
[6, 5]
[6]
[1, 2, 3, 4, 5, 6]

# Selection Sort

In [21]:
test = [5,6,4,3,7,1,8,9,2]

def selection_sort(arr1):
    high_score = 0
    i = 1
    while i <= len(arr1)-1:
        if i > high_score:
            high_score = i
        if arr1[i]<arr1[i-1]:
            arr1[i],arr1[i-1]=arr1[i-1],arr1[i]
            if i != 1:
                i -=1
            else:
                i = high_score
        else:
            i+=1
    return arr1
selection_sort(test)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Merge Sort

In [1]:
def merge_main(arr1):
    pass

# def merge_sort(arr1, arr2):
#     DO NOT NEED IT! SHOULD BE INCLUDED IN merge_join
#     '''sorts list using recursive calls'''
#     pass

def merge_split(arr1):
    '''takes 1 list, splits it down the middle, returns each half'''
    mid = len(arr1)//2 #1//2 = 0

def merge_join(arr1, arr2):
    '''takes 2 sorted lists and joins them returning 1 sorted list'''
    pass

# Binary Search

In [56]:
def binary_search(arr1, findme):
    mid = int(len(arr1)/2)+(len(arr1)%2)-1
    if len(arr1) == 0:
        return False
    elif findme == arr1[mid]:
        return True
    elif findme < arr1[mid]:
        return binary_search(arr1[:mid], findme)
    else:
        return binary_search(arr1[mid+1:], findme)


test = [1,2,3,4,5,8, 11,18,23, 205]
binary_search(test, 10)

False

In [62]:
def test1(arg1, arg2):
    print("neat")

def test2():
    return 'a', 'b'

test2()

('a', 'b')

In [63]:
(lambda x: x**2)(5)

25

In [68]:
squares = list(map(lambda x: x**2, range(10)))
print(squares)
special_squares = list(filter(lambda x: x > 5 and x < 50, squares))
print(special_squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[9, 16, 25, 36, 49]

In [77]:
from functools import reduce
reduce(lambda x, y: x * y,range(4)
     
reduce((lambda x, y: x * y), range(1,5))

24

In [82]:
test = 1
f = lambda x: x**3
f(2)

8

In [83]:
list(map(lambda x: x*2 - 1, range(10)))

[-1, 1, 3, 5, 7, 9, 11, 13, 15, 17]

In [91]:
from statistics import mean
arr1 = [18,1,23,5,4,12,65,18,19]
list(filter(lambda x: x < mean(arr1),arr1))

18.333333333333332

[18, 1, 5, 4, 12, 18]

In [92]:
l1 = [1,2,3,4]

reduce(lambda x, y: x*y, l1)

24

In [94]:
def addNums(x):
    if x <= 1:
        return 1
    else:
        return x + addNums(x-1)

addNums(10)

55

In [100]:
places = [' ', 'Argentina', '  ', 'San Diego', '', '   ', '', 'Boston', 'New York']

list(filter(lambda x: x.replace(" ","") != "",places))

['Argentina', 'San Diego', 'Boston', 'New York']

In [109]:
places = [('Nashua', 32), ('Boston', 12), ('Los Angelos', 44), ('Miami', 29)]

list(map(lambda x: (x[0], x[1]*(9/5)+32),places))
# f = lambda x: x[0], x[1]*(9/5)+32

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

In [128]:
fib_dict = {1:1,2:1,0:0}
def fibonacci(x):
#     base case
    if x in fib_dict.keys():
        return fib_dict[x]
#     if x <= 1:
#         return 1
    else:
        fib_dict[x] = fibonacci(x-1) + fibonacci(x-2)
#     return fibonacci(x-1) + fibonacci(x-2)
    return fib_dict[x]

fibonacci(30)

832040

In [131]:
# Question:
# Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
# between 2000 and 3200 (both included).
# The numbers obtained should be printed in a comma-separated sequence on a single line.
# Hints: 
# Consider use range(#begin, #end) method
    
", ".join([str(each) for each in range(2000,3201) if each%7==0 and each%5!=0])

'2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199'